@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Kanit:ital,wght@0,400;0,700;0,900;1,500;1,800&family=Kdam+Thmor+Pro&family=Lobster&family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Sans&family=Kanit:ital,wght@0,400;0,700;0,900;1,500;1,800&family=Kaushan+Script&family=Kdam+Thmor+Pro&family=Lobster&family=Passion+One&family=Potta+One&display=swap');


header{
  /* background-color: black; */
  color: white;
}

nav ul a{
  text-decoration: none;
  list-style: none;
  display: inline-block;
  color: white;
  margin: 18px;
  font-size: 1.2em;
  font-family: 'Potta One', cursive;
  padding: 6px;
  animation: a 5s infinite;
}
 @keyframes a {
  from {
    color: red;

  }
  to {
    color: black;
  }
 }
 body{
  background-color: black;
 }

.name{
  color: black;
  font-size: 7.2em;
  text-align: center;
  font-family: 'Potta One', cursive;
}
.name:hover{
  color: black;
}

h3{
  color: black;
  font-size: 2.0em;
  text-align: center;
  font-family: 'Potta One', cursive;
  margin-top: -48px;
  
}
h3:hover{
  color: black;
  
}
body{
  background-image: url("https://images.unsplash.com/photo-1577563820627-bc12aa2139de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  width: auto;
  height: auto;
  background-size:  cover;                     
  background-repeat:   no-repeat;
  background-position: center center; 
}